@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650525110357') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-love:before {
  content: "\e665";
}

.icon-xihuan:before {
  content: "\e8c3";
}

.icon-facebook-fill:before {
  content: "\e88d";
}

.icon-instagram-fill:before {
  content: "\e88f";
}

.icon-chakan:before {
  content: "\e642";
}

.icon-twitter:before {
  content: "\e69e";
}

.icon-whatsapp:before {
  content: "\e97b";
}

